<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons (click)="home()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title><p>Resep</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  ><app-resep-page
    *ngFor="let resep of reseps"
    judul="{{resep.judul}}"
    jenis="{{resep.jenis}}"
    bahan="{{resep.bahan}}"
    langkah="{{resep.langkah}}"
    gambar="{{resep.gambar}}"
    email="{{resep.email}}"
    doc="{{resep.doc}}"
  ></app-resep-page>
</ion-content>
