<ion-grid>
  <ion-row>
    <ion-col
      ><ion-card>
        <ion-img
          src="https://www.expatica.com/app/uploads/sites/3/2015/08/dutch-indonesian-food-1920x1080.jpg"
          alt="Tumpeng"
        ></ion-img>

        <ion-card-header>
          <ion-card-subtitle>Resep Nusantara</ion-card-subtitle>
        </ion-card-header>
      </ion-card></ion-col
    >
    <ion-col
      ><ion-card>
        <ion-img
          src="https://asset.kompas.com/crops/teG8bxBeC9NzNi6opEf38UDC74Q=/0x0:1000x667/750x500/data/photo/2020/09/22/5f69e601777db.jpg"
          alt="Pizza"
        ></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Resep MancaNegara</ion-card-subtitle>
        </ion-card-header>
      </ion-card></ion-col
    >
  </ion-row>
</ion-grid>
