<ion-header>
  <ion-toolbar color="danger"
    ><ion-buttons (click)="home()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Resep Nusantara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content *ngFor="let resep of reseps">
      <ion-list >
        <ion-item class="ion-margin-bottom" lines="none" button (click)="myResep(resep.doc)">
          <ion-thumbnail slot="start">
            <img
              alt="Makanan"
              src="{{resep.gambar}}"
            />
          </ion-thumbnail>
          <ion-label>{{resep.judul}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card></ion-content
>
