ion-card {
  font-family: "Roboto", sans-serif;
}

.bgcolor {
  --background: #e6425e;
}

.card-size {
  padding: 2rem;
}

.login-button {
  padding: 0.3rem 0rem;
}

.lefting {
  margin-left: -1rem;
}

.righting {
  margin-left: 1rem;
}
