<ion-list *ngIf="hasToken" [inset]="true" color="danger">
  <ion-item color="danger">
    <ion-avatar slot="start"
      ><ion-img
        src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2022/02/19/1407476621.jpg"
      ></ion-img> </ion-avatar
    ><ion-label
      ><h1>{{ nama }}</h1>
      <p>{{ keahlian }}</p></ion-label
    >
  </ion-item>
</ion-list>

<ion-list *ngIf="hasToken" [inset]="true" color="danger">
  <ion-item button color="danger"
    ><ion-icon name="build-outline"></ion-icon
    ><ion-label>Edit Profil</ion-label></ion-item
  >
  <ion-item button color="danger" (click)="login()"
    ><ion-icon name="log-out-outline"></ion-icon
    ><ion-label>Logout</ion-label></ion-item
  >
</ion-list>

<ion-list *ngIf="!hasToken" [inset]="true" color="danger">
  <ion-item button color="danger"
    ><ion-icon name="log-in-outline"></ion-icon
    ><ion-label>Login</ion-label></ion-item
  >
</ion-list>
