<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons (click)="user()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  ><ion-list>
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-input placeholder="Masukan Nama"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Password</ion-label>
      <ion-input placeholder="Masukan Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Konfirmasi Password</ion-label>
      <ion-input placeholder="Konfirmasi Password"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-select placeholder="Kemapuan">
        <ion-select-option value="pemula">Pemula</ion-select-option>
        <ion-select-option value="homecook">Home Cook</ion-select-option>
        <ion-select-option value="chef">Chef</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button (click)="user()" color="danger" expand="full">Update</ion-button>
</ion-content>
