<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons (click)="user()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor ="let user of users"
  ><ion-list>
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-input id="name" placeholder="Masukan Nama" value="{{user.nama}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select id="kemampuan" placeholder="Kemapuan" value="{{user.kemampuan}}">
        <ion-select-option value="pemula">Pemula</ion-select-option>
        <ion-select-option value="homecook">Home Cook</ion-select-option>
        <ion-select-option value="chef">Chef</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button (click)="edit()" color="danger" expand="full">Update</ion-button>
</ion-content>
